# Dependencies
**/node_modules

# NPM build output
out
*.log
**/*.cache
dist

# Environment Variables
.env.*
service-account-credentials*
*creds.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode

# Terraform
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
